form{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

select{
    width: 200px;
    margin: 50px;
    margin-left: 0;
    border-color: black;
    border-width: 2px;
    height: 50px;
    border-radius: 10px;
}
textarea{
    border-color: black;
    border-width: 2px;
    height: 200px;
    border-radius: 10px;
}
button{
    margin: 20px;
    border-color: black;
    border-width: 2px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-left: 0;
}

.clearButton {
    border-color: red;
}