@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&display=swap');

:root {
  --primary: #0ced6a;
  --light-accent: #68d696;
  --dark-accent: #08a449;
  --secondary: #0CEDDB;
  --red: #ff0000;
  --background: #121212;
  --light-background: #2b2a2a;
  --font-color: white;
  --light-font: #aabbc3;
}

body {
  padding: 0;
  background-color: var(--background);
  scroll-behavior: smooth;
  color: var(--font-color);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

strong { 
  font-weight: bold; 
  color: var(--light-accent);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--dark-accent);
}

button,input[type=submit] {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  background-color: transparent;
  color: var(--font-color);
  cursor: pointer;
  border: 2px solid var(--primary);
  transition: 0.2s;
  font-size: 17px;
}



input[type=text],input[type=password] {
  padding: 10px;
  border-radius: 30px;
  border: 2px solid var(--primary);
  background-color: transparent;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
  width: 200px;
  margin-bottom: 30px;
  color: var(--font-color);
  text-align: center;
}

input[type=text]:focus,input[type=password]:focus {
  border-color: var(--dark-accent);
}

.red {
  font-weight: bold;
  color: var(--red);
}


form{
  display: flex;
  flex-direction: column;
  padding: 100px;
  padding-bottom: 0;
}

select{
  width: 200px;
  margin: 50px;
  margin-left: 0;
  border-color: black;
  border-width: 2px;
  height: 50px;
  border-radius: 10px;
}
textarea{
  border-color: black;
  border-width: 2px;
  height: 200px;
  border-radius: 10px;
}
button{
  margin: 20px;
  border-color: green;
  border-width: 2px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  margin-left: 0;
}

.clearButton {
  border-color: red;
}

.ResponseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ResponseSet{
    width: 80%;
    padding: 50px;
    min-height: 100px;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;  
}
.ResponseTile{
  width: 300px;
  min-height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.ResponseTile p{
  color: #121212;
}